/* CSS Geral */
/* Cor padrao: #F9B707; */
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-display: swap;
  font-family: 'montserrat';
  src: url('montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'montserrat black';
  src: url('montserrat/Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'montserrat light';
  src: url('montserrat/Montserrat-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: 'montserrat', serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}
.texto-negrito {
  font-family: 'montserrat black', serif;
  font-weight: 800;
}

/* Seta Topo */
a[href='#top'] {
  padding: 0px 10px;
  position: fixed;
  top: 80%;
  right: 30px;
  display: none;
  font-size: 40px;
  cursor: pointer;
}
a[href='#top']:hover {
  text-decoration: none;
}
.seta-topo {
  background-color: #6ded97;
  color: white;
  border-radius: 100%;
}
.seta-topo:hover {
  color: #fff;
}
/*DIVISORIA TOPO*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #363636;
}
header article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #logo-top {
  width: 30%;
}
header #logo-top img {
  width: 25%;
}
header nav {
  width: 50%;
  color: #d3d3d3;
  font-weight: 600;
}
header nav .home {
  color: #ff8c00;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-family: 'montserrat light';
}
header nav ul li {
  margin-left: 30px;
  padding: 5px 0 0 0;
  border: 2px solid transparent;
}
header nav ul #li:hover {
  color: #ff8c00;
  transition: 1s;
}
header nav #menu {
  position: absolute;
  top: 60px;
  right: 50px;
  display: none;
}
/*DIVISORIA TOPO*/

/*DIVISORIA BANNER*/
#div-banner {
  width: 100%;
  height: 600px;
  background: url('img/banner.jpg') no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
/*DIVISORIA BANNER*/

/*DIVISORIA iCONES PROPAGANDA*/
#div-icones {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}
#div-icones article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#div-icones article .card-icones {
  text-align: center;
}
#div-icones article .card-icones img {
  width: 150px;
  height: 70px;
}
#div-icones article .card-icones #imagem-globo {
  width: 100px;
  height: 90px;
}
#div-icones article .card-icones i {
  font-size: 60px;
  color: #696969;
}
#div-icones article .card-icones h4 {
  color: #ff8c00;
  font-family: 'montserrat black';
}
#div-icones article .card-icones p {
  color: black;
  font-family: 'montserrat black';
  text-align: justify;
}

/*DIVISORIA ICONES PROPAGANDA*/

/*DIVISORIA SOBRE*/
#div-sobre {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
#div-sobre h1 {
  text-align: center;
  margin-bottom: 70px;
  font-family: 'montserrat black', serif;
  font-size: 30px;
}
#div-sobre h1::after {
  content: '';
  width: 200px;
  height: 4px;
  background: #ff8c00;
  display: block;
  margin: 0 auto;
}
#div-sobre article {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#div-sobre article .sobre-titulo {
  width: 50%;
  margin: 0 100px 0 0;
  text-align: justify;
}
#div-sobre article .sobre-titulo i {
  color: green;
  font-size: 16px;
}
#div-sobre article .sobre-titulo #imagem-wpp {
  margin-top: 10px;
}
#div-sobre article .sobre-img {
  width: 50%;
  height: 20%;
}
#div-sobre article .sobre-img img {
  width: 100%;
  height: 300px;
}

/*DIVISORIA SOBRE*/

/*DIVISORIA SOCIAL*/

#div-servicos {
  width: 100%;
  height: 850px;
  background-color: #151a36;
  color: white;
}
#div-servicos h1 {
  text-align: center;
  padding: 100px 0 50px 0;
  font-family: 'montserrat black', serif;
  color: white;
  font-size: 30px;
}
#div-servicos h1::after {
  content: '';
  width: 200px;
  height: 4px;
  background: #ff8c00;
  display: block;
  margin: 10px auto;
}
#div-servicos .servicos {
  width: 100%;
  display: flex;
  color: #ff8c00;
  justify-content: space-around;
  align-items: center;
}
#div-servicos .servicos-card {
  width: 80%;
  font-family: 'montserrat black';
  border: 1px dotted #dcdcdc;
  padding: 20px;
  font-weight: 400;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 10px 0 10px;
}
#div-servicos .servicos-card:hover {
  box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.1);
}

#div-servicos .servicos-card .icones {
  width: 100%;
  text-align: center;
  padding: 10px;
}
#div-servicos .servicos-card .icones img {
  width: 100%;
}
#div-servicos .servicos-card .icones i {
  width: 100%;
  margin: 0 auto;
  font-size: 25px;
  color: #ff8c00;
  border-radius: 100%;
  font-size: 70px;
}
#div-servicos .servicos-card .card-box {
  width: 100%;
  text-align: center;
}
#div-servicos .servicos-card .card-box h3 {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: 'montserrat black', serif;
  font-weight: 800;
  margin-bottom: 15px;
}
#div-servicos .servicos-card .card-box button {
  background-color: red;
  border: red;
  margin-top: 20px;
  color: white;
  padding: 10px;;
}
/*DIVISORIA SERVICOS*/
/*DIVISORIA GALERIA*/
#div-port h1 {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  font-family: 'montserrat black', serif;
  font-size: 30px;
}
#div-port h1::after {
  content: '';
  width: 200px;
  height: 4px;
  background: #40356f;
  display: block;
  margin: 0 auto;
}
/*DIVISORIA GALERIA*/
/*DIVISORIA DO RODA PÉ*/
footer {
  background-color: #151a36;
  color: white;
}
footer h1 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
  font-family: 'montserrat black', serif;
  font-size: 30px;
}
footer h1::after {
  content: '';
  width: 200px;
  height: 4px;
  background: #40356f;
  display: block;
  margin: 0 auto;
}
footer section {
  max-width: 1200px;
  margin: 0 auto;
}
footer section .card-paginas {
  width: 50%;
  padding: 20px 20px;
}
footer section .card-paginas h2 {
  text-align: center;
}
footer section .card-paginas .paginas-icon ul {
  margin: 30px 0;
}
footer section .card-paginas .paginas-icon i {
  padding: 10px;
  font-size: 20px;
}
footer section .card-paginas .paginas-redes {
  margin-top: 30px;
}
footer section .card-paginas .paginas-redes i {
  border: 1px solid black;
  border-bottom-right-radius: 5px;
  padding: 15px;
  font-size: 25px;
}
footer section .card-paginas .paginas-redes i:hover {
  color: #40356f;
  border: 1px solid #40356f;
}
